<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985711402558-1cer3v4je5vvbs0r5c58ptusn9iocl2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985711402558-1cer3v4je5vvbs0r5c58ptusn9iocl2q</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Pa1pwyD2lweEA7TctN6rVsELIJeVOVk</string>
	<key>GCM_SENDER_ID</key>
	<string>985711402558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litech.TechMon</string>
	<key>PROJECT_ID</key>
	<string>testapp-13221</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-13221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985711402558:ios:b039653c21ce61214dbb6f</string>
	<key>DATABASE_URL</key>
	<string>https://testapp-13221.firebaseio.com</string>
</dict>
</plist>